$mainBackground: #0c0b0e;
$blockBackground: #171717;
$blockBlackBackground: #1b1b1b;
$mainTitle: #FFFFFF;
$accentuatingColor:#ebfc56;
$colorText: #ebfc56;
$mainTextColor: #b4b4b4;
$boxShadow: #000;
$blockFill:  linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0.81) 100%);
$blockBlackFill: linear-gradient(180deg, #1b1b1b 0%, rgba(27, 27, 27, 0) 100%);
$burgerBackground:  rgba(36, 36, 36, 0.5);
$MainInfoBorder: rgb(27, 27, 27);
$notActive: rgba(255, 255, 255, 0.31);
$scrollText: rgba(136, 136, 136, 0.52);
$skillsBlock: #161618;
$skillsShadow: rgba(0, 0, 0, 0.52);
$skillsGradient: linear-gradient(180deg, rgba(136, 136, 136, 0.00) 0%, rgba(136, 136, 136, 0.50) 50%, rgba(136, 136, 136, 0.00) 100% );
$sevenSectionLine:#737373;
$coverageBorder: linear-gradient(180deg, rgba(255,255,255,1) 5%, rgba(32,32,32,0) 100%);
$perfectlyYellowOutline: linear-gradient(180deg, rgba(255,255,255,0) 5%, rgba(235,252,86,1) 100%);
$retasOutlaneBorder: linear-gradient(0deg, rgba(235,252,86,1) 0%, rgba(255,255,255,1) 100%);
$retasOutline: linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(255,255,255,0.1) 100%);
$retasTwoBlock: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
$retasTwoFill: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(255,255,255,0.1) 100%);
$candlestormItemColor: #1D1C1F;
$candlestormCircleColor: #343339;
$footerTitle: #b20000;
$footerText:#c3c3c3;