$mainBackground: #0c0b0e;
$blockBackground: #171717;
$blockBlackBackground: #1b1b1b;
$mainTitle: #FFFFFF;
$accentuatingColor:#ebfc56;
$colorText: #ebfc56;
$mainTextColor: #b4b4b4;
$boxShadow: #000;
$blockFill:  linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0.81) 100%);
$blockBlackFill: linear-gradient(180deg, #1b1b1b 0%, rgba(27, 27, 27, 0) 100%);
$burgerBackground:  rgba(36, 36, 36, 0.5);
$MainInfoBorder: rgb(27, 27, 27);
$notActive: rgba(255, 255, 255, 0.31);
$scrollText: rgba(136, 136, 136, 0.52);
$skillsBlock: #161618;
$skillsShadow: rgba(0, 0, 0, 0.52);
$skillsGradient: linear-gradient(180deg, rgba(136, 136, 136, 0.00) 0%, rgba(136, 136, 136, 0.50) 50%, rgba(136, 136, 136, 0.00) 100% );
$sevenSectionLine:#737373;