.broadcast {
    &__container {
        margin-top: 125px;
    }

    &__block {
        margin: 0 auto;
        width: 88%;        
    }

    &__title {
        letter-spacing: -2px;
    }

    &__text {
        margin-top: 28px;
        font-size: 26px;
    }

    &__stream {
        margin: 80px auto 0;
        width: 61%;
        aspect-ratio: 16/6.8;
        border: solid 1px $mainTitle;
        border-radius: 20px;
        overflow: hidden;
    }

    &__stream-screen {
        width: 100%;
        aspect-ratio: 16/6.8;
        border-radius: 20px;
    }

    &__bottom-button {
        margin-top: 230px;
    }
}

@include breakpoints (xl) {
    .broadcast{
        &__block {
            margin: 0 auto;
            width: 78%;        
        }

        &__stream {
            width: 65%;
            aspect-ratio: 16/6.8;
        }
    
        &__stream-screen {
            aspect-ratio: 16/6.8;
        }
    }
    
}

@include breakpoints (md) {
    .broadcast {
        &__container {
            margin: 92px auto 0;
        }

        &__block {
            margin: 0 auto;
            width: 70%;        
        }
    
        &__title {
            font-size: 30px;
            letter-spacing: -1px;
        }
    
        &__text {
            font-size: 18px;
            margin-top: 6px;
        }
    
        &__stream {
            margin-top: 38px;
            width: 61%;
            aspect-ratio: 16/9;
            overflow: hidden;
        }
    
        &__stream-screen {
            width: 100%;
            aspect-ratio: 16/9;
        }

        &__button-section {
            height: 0;
        }
    }
}

@include breakpoints (sm) {
    .broadcast { 
        &__block {
            margin: 0 auto;
            width: 80%;        
        }

        &__text {
            font-size: 13px;
        }
    
        &__stream {
            margin-top: 38px;
            width: 100%;
            border-right: none;
            border-left: none;
            aspect-ratio: 16/8.5;
            border-radius: 0px;
        }
    
        &__stream-screen {
            aspect-ratio: 16/8.5;
            border-radius: 0px;
        }
    }
}