.candlestorm {
    &__container {
        margin-top: 68px;

        @include breakpoints (md) {
            margin-top: 130px;
        }
    }

    &__section-title {
        position: relative;
        left: 1%;
        margin: 0 auto;
        width: 90%;

        @include breakpoints (xl) {
            flex-wrap: wrap;
        }
        
        @include breakpoints (md) {
            width: 70%;        
        }
        
        @include breakpoints (sm) {
            width: 85%;            
        }
    }

    &__title {
        margin: 15px 15px 0 0;
        font-size: 59px;
        letter-spacing: -1.7px;

        @include breakpoints (xl) {
            margin: 0 auto;
        }
        
        @include breakpoints (md) {
            margin: 4px 15px 0 0;
            font-size: 30px;        
        }
    }

    &__title-yellow {
        color: $blockBlackBackground;
        padding: 14px 26px 14px 16px;
        font-size: 59px;
        background: $accentuatingColor;

        @include breakpoints (xl) {
            margin: 0 auto;
        }
        
        @include breakpoints (md) {
            margin: 0;
            padding: 0 16px 0 6px;
            font-size: 30px;                    
        }
    }

    &__items {
        width: 90%;
        margin: 90px auto 0;
        grid-template-columns: repeat(auto-fill, minmax( 37%, 1fr));
        column-gap: 66px;
        row-gap: 71px;

        @include breakpoints (xl) {
            grid-template-columns: repeat(auto-fill, minmax( 48%, 1fr));
            column-gap: 35px;
            row-gap: 51px;
        }
        
        @include breakpoints (md) {
            margin: 35px auto 0;
            width: 70%;
            row-gap: 15px;        
        }
        
        @include breakpoints (sm) {
            width: 100%;       
        }
    }

    &__item {
        position: relative;
        padding: 5px 20px;
        height: 260px;
        background: $candlestormItemColor;
        border-radius: 20px;
        line-height: 125%;
        overflow: hidden;

        @include breakpoints (md) {
            height: 161px;
            line-height: 85%;
        }
    }

    &__circle {
        position: absolute;
        top: -100px;
        right: -40px;
        width: 200px;
        height: 200px;
        border-radius: 100%;
        background: $candlestormCircleColor;

        @include breakpoints (md) {
            position: absolute;
            top: -65px;
            right: -27px;
            width: 130px;
            height: 130px;
            border-radius: 100%;
            background: $candlestormCircleColor;
        }
    }

    &__img {
        width: 120px;
        display: flex;
        margin: 0 auto;

        @include breakpoints (md) {
            width: 75px;
        }
    }

    &__text {
        width: 80%;
        margin: 5px auto 0;

        @include breakpoints (md) {
            width: 70%;
            font-size: 16px;
        }

        @include breakpoints (sm) {
            width: 90%;
            font-size: 14px;
        }
    }

    &__registration {
        margin-top: 80px;

        @include breakpoints (md) {
            display: none;
        }
    }

    &__bottom-button {
        margin: 13px auto;
    }

    @include breakpoints (md) {
        &__button-section  {
            height: 0;
        }
    }
}