.header {
    position: relative;

    &__logo {
        width: 92px;
        height: 92px;

        @include breakpoints(md) {
            width: 50px;
            height: 50px;
        }
    }
    
    &__block {
        width: 1176px;
        margin: 17px auto 0;

        @include breakpoints(xl) {
            width: 100%;
        }
        
        @include breakpoints(md) {
            width: 95%;
            margin: 14px auto 0;        
        }
        
        @include breakpoints(sm) {
            width: 85%;            
        }
    }

    &__items {
        width: 669px;

        @include breakpoints(xl) {
            width: 55%;
        }
        
        @include breakpoints(md) {
            display: none;        
        }
    }

    &__item {
        font-size: 18px;
        font-weight: 400;
    }

    &__button {
        padding: 8px 47px;
        color: $colorText;
        border-radius: 50px;
        font-size: 22px;
        font-weight: 600;
        border: 1px solid $colorText;
        transition: background 0.5s ease-in-out;

        @include breakpoints(xl) {
            padding: 8px 37px;
        }
        
        @include breakpoints(md) {
            display: none;        
        }
    }

    &__button:hover {
        background: $accentuatingColor;
        color: $blockBackground;
    }
}