.market {
    position: relative;
    &__background{
        background-color: $burgerBackground;
        width: 100%;
    }

    &__container {
        padding: 95px 0 4px;
    }

    &__block {
        width: 90%;
        margin-left: 73px;
    }

    &__block-strategy {
        margin: 100px 0 0 73px;
        width: 90%;
        margin-left: 73px;
    }
    
    &__title {
        font-size: 68px;
        line-height: 0.9;
        position: relative;
    }

    &__title::after {
        content: "";
        position: absolute;
        background: $sevenSectionLine;
        width: 110%;
        height: 2px;
        bottom: -24px;
        left: 0;
    }

    &__block-strategy {
    .market__title::after{
            left: -60px;
        }
    }

    &__span-yellow {
        color: $accentuatingColor;
    }

    &__items {
        position: relative;
    }

    &__items-strategy {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__text-span{
        color: $mainTitle;
    }

    &__text {
        margin-top: 8px;
        width: 44%;
        text-align: right; 
    }

    &__text-strategy {
        width: 30%;
    }

    &__bottom-section {
        padding: 85px 0 30px 225px;
    }

    &__svg {
        margin-right: 50px;
        width: 36%;
    }

    &__bottom {
        position: relative;
    }

    &__bottom-fill {
        position: relative;
        width: 209px;
        height: 184px;
        background: $bottomColorMarket;
        clip-path: polygon( 47.125% 1.264%,47.125% 1.264%,47.672% 0.957%,48.238% 0.719%,48.817% 0.549%,49.406% 0.447%,50% 0.413%,50.594% 0.447%,51.183% 0.549%,51.762% 0.719%,52.328% 0.957%,52.875% 1.264%,61.425% 6.692%,61.425% 6.692%,61.689% 6.85%,61.958% 6.992%,62.233% 7.118%,62.513% 7.228%,62.797% 7.322%,63.085% 7.399%,63.376% 7.461%,63.669% 7.505%,63.965% 7.533%,64.263% 7.544%,74.296% 7.617%,74.296% 7.617%,74.943% 7.662%,75.574% 7.786%,76.184% 7.985%,76.769% 8.256%,77.325% 8.595%,77.845% 9%,78.326% 9.467%,78.762% 9.993%,79.15% 10.574%,79.484% 11.207%,83.399% 19.65%,83.399% 19.65%,83.563% 19.982%,83.743% 20.301%,83.938% 20.608%,84.148% 20.902%,84.371% 21.181%,84.608% 21.445%,84.857% 21.694%,85.119% 21.928%,85.393% 22.144%,85.678% 22.343%,93.31% 27.347%,93.31% 27.347%,93.916% 27.803%,94.46% 28.332%,94.94% 28.925%,95.352% 29.575%,95.692% 30.274%,95.958% 31.013%,96.145% 31.786%,96.251% 32.584%,96.272% 33.399%,96.205% 34.224%,95.08% 42.508%,95.08% 42.508%,95.035% 42.928%,95.013% 43.349%,95.014% 43.77%,95.038% 44.188%,95.085% 44.604%,95.154% 45.016%,95.246% 45.422%,95.36% 45.822%,95.495% 46.214%,95.653% 46.597%,99.039% 54.186%,99.039% 54.186%,99.336% 54.972%,99.541% 55.78%,99.655% 56.602%,99.679% 57.428%,99.615% 58.249%,99.464% 59.055%,99.227% 59.836%,98.906% 60.583%,98.501% 61.286%,98.014% 61.937%,92.433% 68.499%,92.433% 68.499%,92.193% 68.8%,91.969% 69.115%,91.763% 69.444%,91.576% 69.786%,91.406% 70.139%,91.256% 70.504%,91.124% 70.878%,91.013% 71.262%,90.921% 71.653%,90.85% 72.052%,89.547% 80.706%,89.547% 80.706%,89.391% 81.47%,89.163% 82.198%,88.866% 82.885%,88.504% 83.526%,88.083% 84.114%,87.607% 84.645%,87.08% 85.112%,86.506% 85.511%,85.891% 85.836%,85.237% 86.08%,76.003% 88.877%,76.003% 88.877%,75.703% 88.977%,75.409% 89.095%,75.122% 89.231%,74.841% 89.383%,74.569% 89.551%,74.304% 89.736%,74.048% 89.936%,73.801% 90.152%,73.564% 90.383%,73.338% 90.628%,66.874% 98.008%,66.874% 98.008%,66.414% 98.482%,65.918% 98.893%,65.392% 99.241%,64.84% 99.525%,64.267% 99.742%,63.678% 99.891%,63.076% 99.971%,62.468% 99.981%,61.858% 99.918%,61.25% 99.782%,51.442% 96.969%,51.442% 96.969%,51.157% 96.895%,50.869% 96.838%,50.581% 96.798%,50.291% 96.773%,50% 96.765%,49.709% 96.773%,49.419% 96.798%,49.131% 96.838%,48.843% 96.895%,48.558% 96.969%,38.75% 99.782%,38.75% 99.782%,38.142% 99.918%,37.532% 99.981%,36.924% 99.971%,36.323% 99.891%,35.733% 99.742%,35.16% 99.525%,34.608% 99.241%,34.082% 98.893%,33.586% 98.482%,33.126% 98.008%,26.662% 90.628%,26.662% 90.628%,26.436% 90.383%,26.199% 90.152%,25.952% 89.936%,25.696% 89.736%,25.431% 89.551%,25.158% 89.383%,24.878% 89.231%,24.591% 89.095%,24.297% 88.977%,23.997% 88.877%,14.762% 86.08%,14.762% 86.08%,14.109% 85.836%,13.494% 85.511%,12.92% 85.112%,12.393% 84.645%,11.917% 84.114%,11.496% 83.526%,11.134% 82.885%,10.837% 82.198%,10.609% 81.47%,10.453% 80.706%,9.15% 72.052%,9.15% 72.052%,9.079% 71.653%,8.987% 71.262%,8.876% 70.878%,8.744% 70.504%,8.594% 70.139%,8.424% 69.786%,8.237% 69.444%,8.031% 69.115%,7.808% 68.8%,7.567% 68.499%,1.986% 61.937%,1.986% 61.937%,1.499% 61.286%,1.094% 60.583%,0.773% 59.836%,0.536% 59.055%,0.385% 58.249%,0.321% 57.428%,0.345% 56.602%,0.459% 55.78%,0.664% 54.972%,0.961% 54.186%,4.347% 46.597%,4.347% 46.597%,4.504% 46.214%,4.64% 45.822%,4.754% 45.422%,4.846% 45.016%,4.915% 44.604%,4.962% 44.188%,4.986% 43.77%,4.987% 43.349%,4.965% 42.928%,4.92% 42.508%,3.795% 34.224%,3.795% 34.224%,3.728% 33.399%,3.749% 32.584%,3.855% 31.786%,4.042% 31.013%,4.308% 30.274%,4.648% 29.575%,5.06% 28.925%,5.54% 28.332%,6.084% 27.803%,6.69% 27.347%,14.322% 22.343%,14.322% 22.343%,14.607% 22.144%,14.881% 21.928%,15.143% 21.694%,15.392% 21.445%,15.629% 21.181%,15.853% 20.902%,16.062% 20.608%,16.257% 20.301%,16.437% 19.982%,16.602% 19.65%,20.516% 11.207%,20.516% 11.207%,20.85% 10.574%,21.238% 9.993%,21.674% 9.467%,22.155% 9%,22.676% 8.595%,23.231% 8.256%,23.816% 7.985%,24.426% 7.786%,25.057% 7.662%,25.704% 7.617%,35.738% 7.544%,35.738% 7.544%,36.035% 7.533%,36.331% 7.505%,36.625% 7.461%,36.916% 7.399%,37.203% 7.322%,37.487% 7.228%,37.767% 7.118%,38.042% 6.992%,38.311% 6.85%,38.575% 6.692%,47.125% 1.264% );
        transition: all 0.5s ease-in-out;
    }

    &__bottom-text {
        position: absolute;
        top: 44%;
        left: 15%;
        color: $blockBackground;
        font-size: 20px;
        font-weight: 700;
    }

    &__bottom-fill::after{
        position: absolute;
        content: '';
        width: 209px;
        height: 184px;
        background: $bottomColorMarket;
        clip-path: polygon( 47.125% 1.264%,47.125% 1.264%,47.672% 0.957%,48.238% 0.719%,48.817% 0.549%,49.406% 0.447%,50% 0.413%,50.594% 0.447%,51.183% 0.549%,51.762% 0.719%,52.328% 0.957%,52.875% 1.264%,61.425% 6.692%,61.425% 6.692%,61.689% 6.85%,61.958% 6.992%,62.233% 7.118%,62.513% 7.228%,62.797% 7.322%,63.085% 7.399%,63.376% 7.461%,63.669% 7.505%,63.965% 7.533%,64.263% 7.544%,74.296% 7.617%,74.296% 7.617%,74.943% 7.662%,75.574% 7.786%,76.184% 7.985%,76.769% 8.256%,77.325% 8.595%,77.845% 9%,78.326% 9.467%,78.762% 9.993%,79.15% 10.574%,79.484% 11.207%,83.399% 19.65%,83.399% 19.65%,83.563% 19.982%,83.743% 20.301%,83.938% 20.608%,84.148% 20.902%,84.371% 21.181%,84.608% 21.445%,84.857% 21.694%,85.119% 21.928%,85.393% 22.144%,85.678% 22.343%,93.31% 27.347%,93.31% 27.347%,93.916% 27.803%,94.46% 28.332%,94.94% 28.925%,95.352% 29.575%,95.692% 30.274%,95.958% 31.013%,96.145% 31.786%,96.251% 32.584%,96.272% 33.399%,96.205% 34.224%,95.08% 42.508%,95.08% 42.508%,95.035% 42.928%,95.013% 43.349%,95.014% 43.77%,95.038% 44.188%,95.085% 44.604%,95.154% 45.016%,95.246% 45.422%,95.36% 45.822%,95.495% 46.214%,95.653% 46.597%,99.039% 54.186%,99.039% 54.186%,99.336% 54.972%,99.541% 55.78%,99.655% 56.602%,99.679% 57.428%,99.615% 58.249%,99.464% 59.055%,99.227% 59.836%,98.906% 60.583%,98.501% 61.286%,98.014% 61.937%,92.433% 68.499%,92.433% 68.499%,92.193% 68.8%,91.969% 69.115%,91.763% 69.444%,91.576% 69.786%,91.406% 70.139%,91.256% 70.504%,91.124% 70.878%,91.013% 71.262%,90.921% 71.653%,90.85% 72.052%,89.547% 80.706%,89.547% 80.706%,89.391% 81.47%,89.163% 82.198%,88.866% 82.885%,88.504% 83.526%,88.083% 84.114%,87.607% 84.645%,87.08% 85.112%,86.506% 85.511%,85.891% 85.836%,85.237% 86.08%,76.003% 88.877%,76.003% 88.877%,75.703% 88.977%,75.409% 89.095%,75.122% 89.231%,74.841% 89.383%,74.569% 89.551%,74.304% 89.736%,74.048% 89.936%,73.801% 90.152%,73.564% 90.383%,73.338% 90.628%,66.874% 98.008%,66.874% 98.008%,66.414% 98.482%,65.918% 98.893%,65.392% 99.241%,64.84% 99.525%,64.267% 99.742%,63.678% 99.891%,63.076% 99.971%,62.468% 99.981%,61.858% 99.918%,61.25% 99.782%,51.442% 96.969%,51.442% 96.969%,51.157% 96.895%,50.869% 96.838%,50.581% 96.798%,50.291% 96.773%,50% 96.765%,49.709% 96.773%,49.419% 96.798%,49.131% 96.838%,48.843% 96.895%,48.558% 96.969%,38.75% 99.782%,38.75% 99.782%,38.142% 99.918%,37.532% 99.981%,36.924% 99.971%,36.323% 99.891%,35.733% 99.742%,35.16% 99.525%,34.608% 99.241%,34.082% 98.893%,33.586% 98.482%,33.126% 98.008%,26.662% 90.628%,26.662% 90.628%,26.436% 90.383%,26.199% 90.152%,25.952% 89.936%,25.696% 89.736%,25.431% 89.551%,25.158% 89.383%,24.878% 89.231%,24.591% 89.095%,24.297% 88.977%,23.997% 88.877%,14.762% 86.08%,14.762% 86.08%,14.109% 85.836%,13.494% 85.511%,12.92% 85.112%,12.393% 84.645%,11.917% 84.114%,11.496% 83.526%,11.134% 82.885%,10.837% 82.198%,10.609% 81.47%,10.453% 80.706%,9.15% 72.052%,9.15% 72.052%,9.079% 71.653%,8.987% 71.262%,8.876% 70.878%,8.744% 70.504%,8.594% 70.139%,8.424% 69.786%,8.237% 69.444%,8.031% 69.115%,7.808% 68.8%,7.567% 68.499%,1.986% 61.937%,1.986% 61.937%,1.499% 61.286%,1.094% 60.583%,0.773% 59.836%,0.536% 59.055%,0.385% 58.249%,0.321% 57.428%,0.345% 56.602%,0.459% 55.78%,0.664% 54.972%,0.961% 54.186%,4.347% 46.597%,4.347% 46.597%,4.504% 46.214%,4.64% 45.822%,4.754% 45.422%,4.846% 45.016%,4.915% 44.604%,4.962% 44.188%,4.986% 43.77%,4.987% 43.349%,4.965% 42.928%,4.92% 42.508%,3.795% 34.224%,3.795% 34.224%,3.728% 33.399%,3.749% 32.584%,3.855% 31.786%,4.042% 31.013%,4.308% 30.274%,4.648% 29.575%,5.06% 28.925%,5.54% 28.332%,6.084% 27.803%,6.69% 27.347%,14.322% 22.343%,14.322% 22.343%,14.607% 22.144%,14.881% 21.928%,15.143% 21.694%,15.392% 21.445%,15.629% 21.181%,15.853% 20.902%,16.062% 20.608%,16.257% 20.301%,16.437% 19.982%,16.602% 19.65%,20.516% 11.207%,20.516% 11.207%,20.85% 10.574%,21.238% 9.993%,21.674% 9.467%,22.155% 9%,22.676% 8.595%,23.231% 8.256%,23.816% 7.985%,24.426% 7.786%,25.057% 7.662%,25.704% 7.617%,35.738% 7.544%,35.738% 7.544%,36.035% 7.533%,36.331% 7.505%,36.625% 7.461%,36.916% 7.399%,37.203% 7.322%,37.487% 7.228%,37.767% 7.118%,38.042% 6.992%,38.311% 6.85%,38.575% 6.692%,47.125% 1.264% );
        z-index: 1;
        transition: all 0.5s ease-in-out;
    }

    &__bottom-fill::before{
        position: absolute;
        content: '';
        width: 209px;
        height: 184px;
        background: $accentuatingColor;
        clip-path: polygon( 47.125% 1.264%,47.125% 1.264%,47.672% 0.957%,48.238% 0.719%,48.817% 0.549%,49.406% 0.447%,50% 0.413%,50.594% 0.447%,51.183% 0.549%,51.762% 0.719%,52.328% 0.957%,52.875% 1.264%,61.425% 6.692%,61.425% 6.692%,61.689% 6.85%,61.958% 6.992%,62.233% 7.118%,62.513% 7.228%,62.797% 7.322%,63.085% 7.399%,63.376% 7.461%,63.669% 7.505%,63.965% 7.533%,64.263% 7.544%,74.296% 7.617%,74.296% 7.617%,74.943% 7.662%,75.574% 7.786%,76.184% 7.985%,76.769% 8.256%,77.325% 8.595%,77.845% 9%,78.326% 9.467%,78.762% 9.993%,79.15% 10.574%,79.484% 11.207%,83.399% 19.65%,83.399% 19.65%,83.563% 19.982%,83.743% 20.301%,83.938% 20.608%,84.148% 20.902%,84.371% 21.181%,84.608% 21.445%,84.857% 21.694%,85.119% 21.928%,85.393% 22.144%,85.678% 22.343%,93.31% 27.347%,93.31% 27.347%,93.916% 27.803%,94.46% 28.332%,94.94% 28.925%,95.352% 29.575%,95.692% 30.274%,95.958% 31.013%,96.145% 31.786%,96.251% 32.584%,96.272% 33.399%,96.205% 34.224%,95.08% 42.508%,95.08% 42.508%,95.035% 42.928%,95.013% 43.349%,95.014% 43.77%,95.038% 44.188%,95.085% 44.604%,95.154% 45.016%,95.246% 45.422%,95.36% 45.822%,95.495% 46.214%,95.653% 46.597%,99.039% 54.186%,99.039% 54.186%,99.336% 54.972%,99.541% 55.78%,99.655% 56.602%,99.679% 57.428%,99.615% 58.249%,99.464% 59.055%,99.227% 59.836%,98.906% 60.583%,98.501% 61.286%,98.014% 61.937%,92.433% 68.499%,92.433% 68.499%,92.193% 68.8%,91.969% 69.115%,91.763% 69.444%,91.576% 69.786%,91.406% 70.139%,91.256% 70.504%,91.124% 70.878%,91.013% 71.262%,90.921% 71.653%,90.85% 72.052%,89.547% 80.706%,89.547% 80.706%,89.391% 81.47%,89.163% 82.198%,88.866% 82.885%,88.504% 83.526%,88.083% 84.114%,87.607% 84.645%,87.08% 85.112%,86.506% 85.511%,85.891% 85.836%,85.237% 86.08%,76.003% 88.877%,76.003% 88.877%,75.703% 88.977%,75.409% 89.095%,75.122% 89.231%,74.841% 89.383%,74.569% 89.551%,74.304% 89.736%,74.048% 89.936%,73.801% 90.152%,73.564% 90.383%,73.338% 90.628%,66.874% 98.008%,66.874% 98.008%,66.414% 98.482%,65.918% 98.893%,65.392% 99.241%,64.84% 99.525%,64.267% 99.742%,63.678% 99.891%,63.076% 99.971%,62.468% 99.981%,61.858% 99.918%,61.25% 99.782%,51.442% 96.969%,51.442% 96.969%,51.157% 96.895%,50.869% 96.838%,50.581% 96.798%,50.291% 96.773%,50% 96.765%,49.709% 96.773%,49.419% 96.798%,49.131% 96.838%,48.843% 96.895%,48.558% 96.969%,38.75% 99.782%,38.75% 99.782%,38.142% 99.918%,37.532% 99.981%,36.924% 99.971%,36.323% 99.891%,35.733% 99.742%,35.16% 99.525%,34.608% 99.241%,34.082% 98.893%,33.586% 98.482%,33.126% 98.008%,26.662% 90.628%,26.662% 90.628%,26.436% 90.383%,26.199% 90.152%,25.952% 89.936%,25.696% 89.736%,25.431% 89.551%,25.158% 89.383%,24.878% 89.231%,24.591% 89.095%,24.297% 88.977%,23.997% 88.877%,14.762% 86.08%,14.762% 86.08%,14.109% 85.836%,13.494% 85.511%,12.92% 85.112%,12.393% 84.645%,11.917% 84.114%,11.496% 83.526%,11.134% 82.885%,10.837% 82.198%,10.609% 81.47%,10.453% 80.706%,9.15% 72.052%,9.15% 72.052%,9.079% 71.653%,8.987% 71.262%,8.876% 70.878%,8.744% 70.504%,8.594% 70.139%,8.424% 69.786%,8.237% 69.444%,8.031% 69.115%,7.808% 68.8%,7.567% 68.499%,1.986% 61.937%,1.986% 61.937%,1.499% 61.286%,1.094% 60.583%,0.773% 59.836%,0.536% 59.055%,0.385% 58.249%,0.321% 57.428%,0.345% 56.602%,0.459% 55.78%,0.664% 54.972%,0.961% 54.186%,4.347% 46.597%,4.347% 46.597%,4.504% 46.214%,4.64% 45.822%,4.754% 45.422%,4.846% 45.016%,4.915% 44.604%,4.962% 44.188%,4.986% 43.77%,4.987% 43.349%,4.965% 42.928%,4.92% 42.508%,3.795% 34.224%,3.795% 34.224%,3.728% 33.399%,3.749% 32.584%,3.855% 31.786%,4.042% 31.013%,4.308% 30.274%,4.648% 29.575%,5.06% 28.925%,5.54% 28.332%,6.084% 27.803%,6.69% 27.347%,14.322% 22.343%,14.322% 22.343%,14.607% 22.144%,14.881% 21.928%,15.143% 21.694%,15.392% 21.445%,15.629% 21.181%,15.853% 20.902%,16.062% 20.608%,16.257% 20.301%,16.437% 19.982%,16.602% 19.65%,20.516% 11.207%,20.516% 11.207%,20.85% 10.574%,21.238% 9.993%,21.674% 9.467%,22.155% 9%,22.676% 8.595%,23.231% 8.256%,23.816% 7.985%,24.426% 7.786%,25.057% 7.662%,25.704% 7.617%,35.738% 7.544%,35.738% 7.544%,36.035% 7.533%,36.331% 7.505%,36.625% 7.461%,36.916% 7.399%,37.203% 7.322%,37.487% 7.228%,37.767% 7.118%,38.042% 6.992%,38.311% 6.85%,38.575% 6.692%,47.125% 1.264% );
        z-index: 2;
        transition: all 0.5s ease-in-out;
    }

    &__bottom-fill:hover {
        transform: scale(1.2);
    }

    &__bottom-fill:hover::after{
        transform: scale(0.9) rotate(-11deg);
    }

    &__bottom-fill:hover::before{
        transform: scale(0.8);
    }

    &___bottom-button {
        margin: 0;
        position: absolute;
        left: 49%;
        top: -50px;
    }
}

@include breakpoints(xl) {
    .market{
        &__title {
            font-size: 50px;
        }

        &__text {
            margin-top: 0px;
            width: 46%;
            font-size: 18px;       
        }
    
        &__text-strategy {
            width: 40%;
            font-size: 18px;        
        }
    
        &__block-strategy {
        .market__title::after{
                left: -40px;
            }
        }

        &__bottom-section {
            margin: 85px auto 0;
            padding: 85px 0 30px;
            justify-content: center;
        }

        &__svg {
            width: 30%;
        }
    }
}

@include breakpoints(md) {
    .market{
        &__container {
            padding-top: 114px;
        }

        &__title {
            font-size: 30px;
        }

        &__title::after {
            display: none;
        }

        &__text {
            font-size: 14px;
            text-align: left;
            width: 60%;
            min-width: 315px;
        }

        &__text::after {
            content: "";
            position: absolute;
            background: $sevenSectionLine;
            width: 60%;
            height: 1px;
            bottom: -10px;
            left: 0;
        }

        &__block {
            margin: 0 auto;
            width: 75%;
        }

        &__block-strategy {
            margin: 35px auto 0;
            display: flex;
            width: 75%;
        }

        &__items {
            flex-direction: column;
            row-gap: 5px;
            align-items: start; 
        }
        
        &__text-strategy {
            font-size: 14px;
            text-align: right;
            width: 40%;
            min-width: 270px;
        }

        &__text-strategy::after {
            content: "";
            position: absolute;
            background: $sevenSectionLine;
            width: 60%;
            height: 1px;
            bottom: -10px;
            right: 0;
        }

        &__items-strategy {
            flex-direction: column-reverse;
            row-gap: 5px;
            align-items: end;
            width: 100%;      
        }

        &__bottom-section {
            margin: 0 auto;
            padding: 25px 0 0 5px;
            justify-content: center;
        }

        &__bottom-fill {
            width: 131px;
            height: 116px;
        }

        &__bottom-text {
            top: 44%;
            left: 15%;
            font-size: 12px;
            font-weight: 700;
        }

        &__bottom-fill::after{
            width: 131px;
            height: 116px;
        }
    
        &__bottom-fill::before{
            width: 131px;
            height: 116px;
        }

        &__svg {
            width: 30%;
            min-width: 167px;
        }

        @media (hover: hover) {
            &__bottom-fill:hover {
                transform: scale(1);
            }
        
            &__bottom-fill:hover::after{
                transform: scale(1) rotate(0deg);
            }
        
            &__bottom-fill:hover::before{
                transform: scale(1);
            }
        }
    }
}

@include breakpoints(sm) {
    .market{
        &__container {
            padding-top: 60px;
        }

        &__block {
            width: 84%;
            display: flex;
            margin: 0 auto;
        }

        &__text::after {
            width: 108%;
            bottom: -9px;
        }

        &__text-strategy::after {
            width: 108%;
            bottom: -6px;
        }

        &__block-strategy {
            margin: 50px auto 0;
            display: flex;
            width: 84%;
        }

        &__bottom-section {
            margin: 0 auto;
            padding: 10px 0 80px;
            justify-content: center;
        }

        &__bottom-fill {
            font-size: 12px;
            width: 127px;
            height: 110px;
        }

        &__svg {
            width: 30%;
            margin: 0 25px 0 22px;
            min-width: 167px;
        }
    }
}