.money {
    &__background{
        background-color: $burgerBackground;
        width: 100%;
        clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
    }

    &__container {
        padding-top: 296px;
        margin: 0 55px 63px; 
        width: 85%;
    }

    &__item {
        width: 410px;      
    }

    &__title {
        margin-top: 25px;        
    }

    &__text {
        color: $accentuatingColor;
        font-size: 30px;
        font-family: 'Raleway-italic';
        border-bottom: 2px solid $accentuatingColor;
        display: inline;
    }

    &__bottom-button {
        margin-top: 12px !important;
    }
}

@include breakpoints(xl) {
    .money {    
        &__container {
            padding-top: 171px;
            margin: auto 66px;
            width: 95%;
        }
    
        &__item {
            width: 42%;      
        }
    }
}

@include breakpoints(md) {
    .money {    
        &__container {
            padding-top: 141px;
            margin: 88px auto 54px; 
            width: 65%;
        }
    
        &__item {
            width: 45%;       
        }
    
        &__title {
            margin-top: 30px;
            font-size: 40px;       
        }
    
        &__text {
            font-size: 20px;
            border-bottom: 1px solid $accentuatingColor;
        }

        &__registration {
            display: block !important;
        }
    }
}

@include breakpoints(sm) {
    .money {    
        &__background{
            clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
        }

        &__container {
            flex-wrap: wrap;
            padding-top: 105px;
            margin: 90px auto 54px; 
            width: 95%;
            gap: 52px;
        }
    
        &__item {
            margin: 0 auto;
            padding-right: 60px;
            width: 40%;
            min-width: 270px;    
        }
    
        &__title {
            margin-top: 34px;
            font-size: 40px;       
        }
    
        &__text {
            font-size: 20px;
        }
    }
}