.rates {
    &__container {
        margin-top: 330px;
    }

    &__title-section {
        color: $mainTitle;
        font-size: 75px;
        margin: 0 auto;
        width: 88%;
        font-family: 'Orbitron', sans-serif;
        font-weight: 700;
    }

    &__title-yellow {
        background: $accentuatingColor;
        color: $skillsBlock;
        margin-left: 15px;
        padding: 5px 15px 0;
    }

    &__text {
        margin: 17px 0 0 340px;
        width: 54%;
        font-weight: 500;
        font-size: 26px;
        line-height: 137%;
    }

    &__text-white {
        color: $mainTitle;
    }

    &__outline-border {
        margin: 36px auto 55px;
        width: 601px;
        padding: 2px;
        background: $retasOutlaneBorder;
        border-radius: 20px;
    }

    &__outline-background {
        width: 597px;
        margin: 0 auto;
        background: $boxShadow;
        border-radius: 20px;
    }
    
    &__outline-fill {
        width: 597px;
        margin: 0 auto;
        padding: 18px 0;
        background: $retasOutline;
        border-radius: 20px;
    }

    &__two-block-border {
        width: 569px;
        margin: 0 auto;
        padding: 2px;
        background: $retasTwoBlock;
        border-radius: 20px;
    }

    &__two-block {
        background: $blockBackground;
        border-radius: 20px;
    }

    &__two-block-fill {
        padding: 25px;
        border-radius: 20px;
        box-shadow: inset -36px 36px 36px 0 rgba(255, 255, 255, 0.03), inset 36px -36px 36px 0 rgba(0, 0, 0, 0.03);
    }

    &__block-title {
        margin-top: 40px;
        color: $accentuatingColor;
        font-weight: 600;
        font-size: 45px;
        line-height: 155%;
        text-align: center;
    }

    &__items {
        margin-top: 20px;
        gap: 19px;
    }

    &__item {
        color: $mainTitle;
        font-size: 20px;
        font-weight: 500;
        line-height: 116%;
    }

    &__svg {
        width: 16px;
        height: 16px;
    }

    &__item-text {
        margin-left: 15px;
        width: 98%;
    }

    &__block-text {
        width: 565px;
        position: relative;
        left: -25px;
        margin-top: 49px;
        padding: 17px 0;
        color: $accentuatingColor;
        font-size: 25px;
        font-weight: 600;
        text-align: center;
        font-family: 'Raleway-italic';
        background: $blockBlackFill;
        box-shadow: 0 4px 15px 0 $boxShadow;
    }

    &__fill-prise {
        position: relative;
        color: $sevenSectionLine;
        margin-top: 8px;
        font-weight: 600;
        font-size: 35px;
        line-height: 155%;
        text-align: center;
    }

    &__fill-prise::before {
        content: '';
        position: absolute;
        top: 25px;
        left: 32%;
        height: 2px;
        width: 181px;
        background: $sevenSectionLine;
    }

    &__discount-prise {
        margin-top: 5px;
        color: $mainTitle;
        font-size: 45px;
        font-weight: 600;
        text-align: center;
        line-height: 155%;
    }

    &__month-prise {
        margin: 10px auto 29px;
        font-size: 20px;
        text-align: center;
        color: $mainTextColor;
        line-height: 155%;
        font-family: 'Raleway-italic';
    }

    &__bottom-button {
        margin: 48px auto 10px;
    }
}

@include breakpoints (xl) {
    .rates {
        &__container {
            margin-top: 250px;
        }

        &__title-section {
            font-size: 60px;
        }

        &__text {
            margin: 28px auto 0;
            width: 64%;
        }
    }
}

@include breakpoints (md) {
    .rates {
        &__container {
            margin-top: 88px;
        }
    
        &__title-section {
            display: flex;
            margin: 0 auto;
            width: 55%;
            font-size: 30px;
            line-height: 136%;
        }
    
        &__title-yellow {
            margin-left: 8px;
            padding: 0 15px;
        }
    
        &__text {
            margin: 5px auto 0;
            width: 54%;
            font-size: 13px;
            line-height: 136%;
        }
    
        &__text-white {
            color: $mainTitle;
        }
    
        &__outline-border {
            margin: 30px auto 0;
            width: 300px;
            padding: 1px;
            border-radius: 10px;
        }
    
        &__outline-background {
            width: 298px;
            margin: 0 auto;
            border-radius: 10px;
        }
        
        &__outline-fill {
            width: 298px;
            margin: 0 auto;
            padding: 12px 0;
            border-radius: 10px;
        }
    
        &__two-block-border {
            width: 284px;
            margin: 0 auto;
            padding: 1px;
            border-radius: 10px;
        }
    
        &__two-block {
            border-radius: 10px;
        }
    
        &__two-block-fill {
            padding: 12px;
            border-radius: 10px;
        }
    
        &__block-title {
            margin-top: 18px;
            font-size: 22px;
        }
    
        &__items {
            margin-top: 10px;
            gap: 14px;
        }
    
        &__item {
            font-size: 11px;
        }
    
        &__svg {
            width: 8px;
            height: 8px;
        }
    
        &__item-text {
            margin-left: 10px;
            width: 98%;
        }
    
        &__block-text {
            width: 282px;
            margin-top: 17px;
            position: relative;
            left: -12px;
            padding: 8px 0;
            font-size: 14px;
        }
    
        &__fill-prise {
            margin-top: 0px;
            font-size: 18px;
        }

        &__fill-prise::before {
            top: 15px;
            left: 32%;
            height: 1px;
            width: 90px;
        }
    
        &__discount-prise {
            margin-top: 0px;
            font-size: 23px;
            line-height: 145%;
        }
    
        &__month-prise {
            margin: 5px auto 25px;
            font-size: 11px;
        }
        
        &__button-section {
            height: 0;
        }

        &__registration {
            display: none;
        }
    }
}

@include breakpoints (sm) {
    .rates{
        &__title-section {
            position: relative;
            left: -9%;
            width: 65%;
        }

        &__text {
            position: relative;
            left: 13%;
            margin: 5px auto 0;
            width: 80%;
            font-size: 13px;
            line-height: 136%;
        }
    }
}