.section-five {
    &__container {
        margin: 287px 55px 63px; 
        width: 85%;
    }

    &__item {
        width: 410px;      
    }

    &__title {
        margin-top: 25px;        
    }

    &__text {
        color: $accentuatingColor;
        font-size: 30px;
        font-family: 'Raleway-italic';
        border-bottom: 2px solid $accentuatingColor;
        display: inline;
    }

    &__bottom-button {
        margin-top: 12px !important;
    }
}

@include breakpoints(xl) {
    .section-five {    
        &__container {
            margin: 171px auto 66px;
            width: 95%;
        }
    
        &__item {
            width: 42%;      
        }
    }
}

@include breakpoints(md) {
    .section-five {    
        &__container {
            margin: 141px auto 54px; 
            width: 65%;
        }
    
        &__item {
            width: 45%;       
        }
    
        &__title {
            margin-top: 30px;
            font-size: 40px;       
        }
    
        &__text {
            font-size: 20px;
            border-bottom: 1px solid $accentuatingColor;
        }

        &__registration {
            display: block !important;
        }
    }
}

@include breakpoints(sm) {
    .section-five {    
        &__container {
            flex-wrap: wrap;
            margin: 102px auto 54px; 
            width: 95%;
            gap: 52px;
        }
    
        &__item {
            margin: 0 auto;
            padding-right: 60px;
            width: 40%;
            min-width: 270px;    
        }
    
        &__title {
            margin-top: 34px;
            font-size: 40px;       
        }
    
        &__text {
            font-size: 20px;
        }
    }
}