.section-two {
    &__content {
        margin-top: 138px;
    }

    &__header {
        margin-left: 75px;
        width: 79%;     
    }

    &__header-title {
        font-size: 75px;
        font-weight: 700;
        font-family: "Orbitron";
    }

    &__header-text {
        padding: 5px 24px;
        margin: 0 0 0 30px;
        background: $blockFill;
        color: $boxShadow;
        font-size: 30px;
        font-weight: 700;
        border-radius: 20px;
    }

    &__body {
        margin: 64px auto 0;
        padding-left: 80px;
        width: 94%;
    }

    &__body-text {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 40px;
    }

    &__body-svg {
        width: 61px;
        height: 34px;
        margin-bottom: 37px;
    }

    &__body-block {
        background: $blockBlackFill;
        padding: 4px 32px;
        font-weight: 700;
        font-size: 40px;
        border-radius: 20px;
        margin-bottom: 42px;
        box-shadow: 0 4px 15px 0 $boxShadow;
    }
}

@include breakpoints(xl) {
    .section-two {    
        &__header {
            margin-left: 70px;
            width: 75%;
            min-width: 820px;      
        }
    
        &__header-title {
            font-size: 60px;
        }
    
        &__header-text {
            padding: 3px 17px;
            margin: 0 0 0 15px;
            min-width: 305px;
            font-size: 25px;
        }
    
        &__body {
            padding-left: 70px;
        }
    
        &__body-text {
            margin-bottom: 20px;
            font-size: 40px;
        }
    
        &__body-block {
            font-size: 35px;
        }
    }
}

@include breakpoints(md) {
    .section-two {
        &__content {
            margin-top: 66px;
        }
    
        &__header {
            margin: 0 auto;
            flex-wrap: wrap;
            width: 60%;
            min-width: 0; 
        }
    
        &__header-title {
            padding-right: 19px;
            font-size: 35px;
            margin: 0 auto;
        }
    
        &__header-text {
            padding: 5px 15px;
            font-size: 14px;
            margin: 4px auto 0;
        }
    
        &__body {
            flex-wrap: wrap;
            margin: 0 auto;
            padding-left: 0px;
            width: 75%;
        }

        &__body-colum{
            margin: 40px auto 0;
        }

        &__colum {
            margin: 0 25px;
        }
    
        &__body-text {
            margin-bottom: 5px;
            font-weight: 500;
            font-size: 20px;
        }
    
        &__body-svg {
            width: 38px;
            height: 9px;
            margin-bottom: 7px;
        }
    
        &__body-block {
            padding: 6px 19px;
            font-size: 18px;
            border-radius: 20px;
            margin-bottom: 35px;
        }
    }
}

@include breakpoints(sm) {
    .section-two {
        &__content {
            // margin-top: 68px;
        }
    
        &__header {
            margin: 0 auto;
            width: 90%;
        }
    
        &__header-title {
            padding-right: 2px;
            margin: 0 auto;
        }
    
        &__body {
            width: 90%;
        }

        &__body-colum{
            margin: 45px auto 0;
        }

        &__colum {
            margin: 0  15px;
        }
    
        &__body-text {
            margin-bottom: 5px;
            font-weight: 500;
            font-size: 20px;
        }
    
        &__body-block {
            margin-bottom: 0px;
        }
    }
}