.skills {
    &__background{
        background-color: $burgerBackground;
        width: 100%;
    }

    &__container {
        padding-top: 162px;
    }

    &__container-title {
       margin-left: 77px;
    }

    &__title {
        margin-right: 5px;
    }

    &__yellow {
        padding: 0 12px 5px 10px;
        color: $blockBackground;
        background: $accentuatingColor;
    }

    &__title-text {
        margin-top: 12px;
        width: 329px;
        padding: 7px 11px;
        color: $accentuatingColor;
        font-size: 25px;
        font-weight: 600;
        font-family: 'Raleway-italic';
        background: $blockBlackFill;
        border-radius: 20px;
        box-shadow: 0 4px 15px 0 $boxShadow;
    }

    &__container 
    &__block:nth-child(2){
        margin-top: 40px;
    }

    &__container 
    &__block:nth-child(4){
        padding: 23px 0 23px;
    }

    &__block {
        margin-top: 35px;
        padding: 30px 0 14px;
        width: 100%;
        background: $skillsBlock;
        box-shadow: 0 4px 28px 0 $skillsShadow;
    }

    &__items {
        width: 1180px;
        margin: 0 auto;
    }

    &__item-svg {
        margin: 0 auto;
        width: 25px;
        height: 25px;
    }

    &__items-text {
        padding-top: 8px;
        color: $mainTitle;
        width: 90%;
        line-height: 1.2;
        text-align: center;
    }

    &__vertical-line {
        padding: 1px;
        width: 1px;
        height: 112px;
        background: $skillsGradient;       
    }

    &__bottom-button {
        margin: 36px 0 10px;
    }
}

@include breakpoints (xl) {
    .skills {
        &__container {
            padding-top: 150px;
        }

        &__title {
            margin-right: 10px;
        }
    
        &__items {
            width: 95%;
            min-width: 0%;
            margin: 0 auto;
        }
    
        &__items-text {
            font-size: 18px;
        }
    }
}

@include breakpoints(md) {
    .skills {
        &__container {
            padding-top: 120px;
            display: grid;
            gap: 15px;
        }
    
        &__container-title {
            margin: 0 auto;
            display: grid;
            justify-content: center;
        }
    
        &__title {
            font-size: 28px;
            line-height: 101%;
            margin-right: 5px;
        }
    
        &__yellow {
            padding: 0 10px 2px 6px;
            font-size: 28px;
            line-height: 101%;
        }
    
        &__title-text {
            margin-top: 10px;
            width: 209px;
            padding: 5px 5px;
            font-size: 15px;
            border-radius: 13px;
            text-align: center;
        }

        &__container 
        &__block:nth-child(2){
            margin-top: 14px;
        }

        &__container 
        &__block:nth-child(4){
            padding: 0;
        }
    
        &__block {
            margin-top: 0;
            padding: 0;
            background: none;
            box-shadow: none;
        }
    
        &__items {
            flex-direction: column;
            margin: 0 auto;
            gap: 15px;
            width: 50%;
        }

        &__item {
            display: flex;
            align-items: center;
        }
    
        &__item-svg {
            width: 11px;
            height: 11px;
        }
    
        &__items-text {
            padding-top: 0px;
            font-size: 13px;
            width: 90%;
            text-align: left;
        }
    
        &__vertical-line {
            display: none;     
        }
    }
}

@include breakpoints(sm) {
    .skills {
        &__container {
            padding-top: 110px;
        }
    
        &__title {
            margin-right: 2px;
            margin-left: 27px;
        }
    
        &__yellow {
            padding: 0 5px 5px 6px;
        }
    
        &__title-text {
            margin-left: 14px;
            margin-top: 10px;
            width: 209px;
            padding: 6px 5px;
        }
    
        &__items {
            width: 80%;
            min-width: 320px;
        }
    }
}