.swiper-section {
    &__container {
        margin-top: 126px;
    }

    &__title {
        text-align: center;
    }

    &__block {
        margin-top: 143px;
        width: 100%;
        overflow: hidden;
    }

    &__slide {
        width: 100%;
    }

    // &__button-section {
    // }
}

.swiper-wrapper {
    width: 120%;
}

.swiper-slide {
    // transition: transform 0.5 ease-in-out;
}

.swiper-slide-active {
    // width: 640px !important;
}
