.swiper-section {
    &__container {
        margin-top: 126px;
    }

    &__title {
        text-align: center;
    }

    &__block {
        margin-top: 105px;
        width: 120%;
        transform: translate(-3%);
    }

    &__hidden {
        overflow: hidden;
        width: 100%;        
    }

    &__slide {
        width: 694px;
    }

    // &__bottom-button {
    //     margin-top: 4px !important;
    // }
}

.swiper {
    height: 443px;
    &-wrapper{
        align-items: center;
    }

    &-slide {
        padding-top: 10px;
        width: 694px;
        height: 363px;
    }
    
    &-slide-active {
        padding-top: 0px;
        max-width: 841px;
        transform: scale(1.22)!important;
        transition: 0.5s;
    }
}